@import "~antd/dist/antd.less";
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;0,700;0,800;1,300;1,400;1,600;1,700;1,800&display=swap");

.App {
	text-align: center;
}

.App-logo {
	height: 40vmin;
	pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
	.App-logo {
		animation: App-logo-spin infinite 20s linear;
	}
}

.App-header {
	// background-color: #282c34;
	// background-color: white;
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	font-size: calc(10px + 2vmin);
	color: white;
}

.App-link {
	color: #61dafb;
}


//HEADER
.ant-avatar {
	background: none;
}
.logo {
	float: left;
	width: 125px;
	height: 31px;
	margin: 16px 24px 16px 0;
}
.site-layout .site-layout-background {
	background: #fff;
}

#imglanding {
	width: 100vw !important;
	@media (min-width: 280px) {
		margin-bottom: 100px;
	}
	@media (min-width: 576px) {
		margin-bottom: 80px !important;
	}
	@media (min-width: 768px) {
		margin-bottom: 50px !important;
	}
	@media (min-width: 992px) {
		margin-bottom: 30px !important;
	}
	@media (min-width: 1200px) {
		margin-bottom: 80px !important;
		height: 600px !important;
	}
	@media (min-width: 1400px) {
		margin-bottom: 120px !important;
		height: 730px !important;
	}
}

.rowtextlanding {
	// background-color: gold;
	margin: 0;
	padding: 0;
	text-align: left;
	position: absolute;
	top: 300px;
	left: 10%;
	z-index: 3;
	@media (min-width: 280px) {
		top: 120px;
	}
	@media (min-width: 576px) {
		top: 125px;
	}
	@media (min-width: 768px) {
		top: 160px;
	}
	@media (min-width: 992px) {
		top: 200px;
	}
	@media (min-width: 1200px) {
		top: 250px;
	}
}
.rowiluspeoplelanding {
	// background-color: gold;
	width: 50%;
	margin: 0;
	padding: 0;
	text-align: right;
	position: absolute;
	top: 400px;
	left: 40%;
	z-index: 2;
	@media (min-width: 280px) {
		top: 100px;
		height: 350px;
		left: 45%;
	}
	@media (min-width: 576px) {
		top: 100px;
		height: 350px;
		left: 45%;
	}
	@media (min-width: 768px) {
		top: 150px;
	}
	@media (min-width: 992px) {
		top: 220px;
	}
	@media (min-width: 1200px) {
		top: 250px;
	}
}
#titlelanding {
	margin: 0;
	padding: 0;
	color: @primary-color;
	font-size: 76px;
	font-weight: 500;
	z-index: 2;
	@media (min-width: 280px) {
		font-size: 32px;
	}
	@media (min-width: 576px) {
		font-size: 32px;
	}
	@media (min-width: 768px) {
		font-size: 42px;
	}
	@media (min-width: 992px) {
		font-size: 62px;
	}
	@media (min-width: 1200px) {
		font-size: 72px;
	}
}
#titlelanding2 {
	margin: 0;
	padding: 0;
	color: @primary-color;
	font-size: 76px;
	font-weight: 500;
	top: 370px;
	left: 10%;
	z-index: 2;
	@media (min-width: 280px) {
		font-size: 32px;
	}
	@media (min-width: 576px) {
		font-size: 32px;
	}
	@media (min-width: 768px) {
		font-size: 42px;
	}
	@media (min-width: 992px) {
		font-size: 62px;
	}
	@media (min-width: 1200px) {
		font-size: 72px;
	}
}
#subtitlelanding {
	font-family: "Open Sans";
	margin: 0;
	padding: 0;
	color: #53575e;
	font-size: 16px;
	font-weight: 400;
	z-index: 2;
	@media (min-width: 280px) {
		font-size: 14px;
	}
	@media (min-width: 576px) {
		font-size: 14px;
	}
	@media (min-width: 992px) {
		font-size: 16px;
	}
}

//Carousel
.ant-carousel .slick-slide {
	text-align: center;
	height: 100%;
	line-height: 160px;
	// background: black;
	overflow: hidden;
	margin: 0 !important;
	padding: 0 !important;
	@media (min-width: 280px) {
		height: 170px;
	}
	@media (min-width: 420px) {
		height: 200px;
	}
	@media (min-width: 500px) {
		height: 230px;
	}
	@media (min-width: 576px) {
		height: 260px;
	}
	@media (min-width: 768px) {
		height: 100%;
	}
	@media (min-width: 992px) {
		height: 100%;
	}
}
.ant-carousel .slick-slide img {
	display: inline-block;
	width: 80%;
	@media (min-width: 768px) {
		margin-bottom: 40px;
	}
}
// .bannerimg{
// 	width: 70%;
// }

.ant-carousel .slick-prev {
	position: absolute;
	top: 50%;
	left: 10%;
	z-index: 4;
	width: 64px;
	height: 64px;
	background-image: url(./assets/icons/prev.svg) !important;

	@media (min-width: 280px) {
		transform: scale(0.4);
		left: 0%;
		top: 40%;

		/* Equal to scaleX(0.7) scaleY(0.7) */
	}
	@media (min-width: 768px) {
		transform: scale(0.7);
		left: 5%;
		top: 40%;

		/* Equal to scaleX(0.7) scaleY(0.7) */
	}
	@media (min-width: 992px) {
		transform: scale(0.9);
		left: 7%;

	}
	@media (min-width: 1200px) {
		transform: scale(1);
		left: 10%;

	}
}

.ant-carousel .slick-next {
	position: absolute;
	top: 50%;
	right: 10%;
	z-index: 4;
	width: 64px;
	height: 64px;
	background-image: url(./assets/icons/next.svg) !important;

	@media (min-width: 280px) {
		transform: scale(0.4);
		right: 0%;
		top: 40%;

	}
	@media (min-width: 768px) {
		transform: scale(0.7);
		right: 5%;
		top: 40%;

	}
	@media (min-width: 992px) {
		transform: scale(0.9);
		right: 7%;
 
	}
	@media (min-width: 1200px) {
		transform: scale(1);
		right: 10%;
 
	}
}

.ant-carousel .slick-dots li.slick-active button {
	background: @primary-color;
}

.ant-carousel .slick-dots li button {
	background: #CFCFCF;
}

.ant-carousel .slick-dots-bottom {
	bottom: -10px;
		@media (min-width: 768px) {
		// transform: scale(0.7);
		// right: 0%;
		// top: 40%;

	}
}

//Product Explanation
.containerImgExp{
	position: relative;
	// background-color: aqua;
	// margin: auto;
	// min-height: 300px;
	// height: 100vh;
}

#productexplore{
	width: 100vw !important;

}
.rowproductExpComp{
	position: absolute;
	top: 0;
	top: 10%;
	margin: auto !important;
}
.titleproductexp {
	font-size: 28px;
	@media (min-width: 280px) {
		font-size: 18px !important;

	}
	@media (min-width: 768px) {
		font-size: 28px !important;


	}
}

.stroketitle{
	border-bottom: 6px solid @primary-color;
	width: 15%;
	margin-bottom: 40.8px;
	
}

.textproductexp {
	font-size: 16px;
	font-family: "Open Sans";
	@media (min-width: 280px) {
		font-size: 10px;

	}
	@media (min-width: 768px) {
		font-size: 16px;


	}
}